@import url("https://cdn.jsdelivr.net/gh/rpunkfu/bebas-neue@1.0/fonts/bebasneue-webfont.css");
canvas {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  filter: saturate(0.75) brightness(1.5) contrast(1.1);
  pointer-events: none;
  // background-color: transparent;
}

.title {
  // font-size: 72px;
  // color: #000000;
  mix-blend-mode: difference;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  filter: invert(100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0
  ;
  .hide {
    opacity: 0;
  }

  .more {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 24px;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      letter-spacing: 5px;

      .chevron {
        animation: jump 1s ease infinite;
      }
    }

    @media screen and (max-width: 720px) {
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  .subverse {
    margin-top: 20px;
    position: absolute;
    top: 0;
    font-size: 32px;
    letter-spacing: 5px;
    // width: 500px;
    text-justify: distribute-all-lines;

    @media screen and (max-width: 720px) {
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  .verse {
    z-index: 99;
    font-size: 84px;
    text-align: center;
    // width: 500px;
    text-justify: distribute-all-lines;

    .tight {
      letter-spacing: -1px;
    }

    .wide {
      letter-spacing: 1px;
    }
  }
}

.gradbg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .inverted {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    // border: 2px solid invert($color: rgba(200,200,200,0.5));
    // outline: 2px solid;
    outline-color: invert;
    margin: 20px;
    filter: invert(100%);
    background-image: linear-gradient(to right top, #a3a3a3, #787878, #4f4f4f, #292929, #000000);

    background-size: 175vw 175vh;

    -webkit-animation: scrolleffect 8s ease infinite;
    -moz-animation: scrolleffect 8s ease infinite;
    -o-animation: scrolleffect 8s ease infinite;
    animation: scrolleffect 8s ease infinite;

    .reverted {
      position: relative;
      background-image: linear-gradient(to right top, #a3a3a3, #787878, #4f4f4f, #292929, #000000);

      background-size: 175vw 175vh;

      -webkit-animation: scrolleffect 8s ease infinite;
      -moz-animation: scrolleffect 8s ease infinite;
      -o-animation: scrolleffect 8s ease infinite;
      animation: scrolleffect 8s ease infinite;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      filter: invert(100%);
      margin: auto;

      .title {
        // font-size: 72px;
        // color: #000000;
        mix-blend-mode: difference;
        font-family: "Bebas Neue", sans-serif;
        font-weight: bold;
        filter: invert(100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 99;
        .hide {
          opacity: 0;
        }

        .more {
          position: absolute;
          bottom: 0;
          margin-bottom: 20px;
          font-size: 24px;
          transition: all 0.5s ease;
          cursor: pointer;

          &:hover {
            letter-spacing: 5px;

            .chevron {
              animation: jump 1s ease infinite;
            }
          }

          @media screen and (max-width: 720px) {
            font-size: 14px;
            letter-spacing: 2px;
          }
        }

        .subverse {
          margin-top: 20px;
          position: absolute;
          top: 0;
          font-size: 32px;
          letter-spacing: 5px;
          // width: 500px;
          text-justify: distribute-all-lines;

          @media screen and (max-width: 720px) {
            font-size: 14px;
            letter-spacing: 2px;
          }
        }

        .verse {
          z-index: 99;
          font-size: 84px;
          text-align: center;
          // width: 500px;
          text-justify: distribute-all-lines;

          .tight {
            letter-spacing: -1px;
          }

          .wide {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  background-image: linear-gradient(to right top, #a3a3a3, #787878, #4f4f4f, #292929, #000000);
  background-size: 175vw 175vh;

  -webkit-animation: scrolleffect 8s ease infinite;
  -moz-animation: scrolleffect 8s ease infinite;
  -o-animation: scrolleffect 8s ease infinite;
  animation: scrolleffect 8s ease infinite;
}

@-webkit-keyframes scrolleffect {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@-moz-keyframes scrolleffect {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@-o-keyframes scrolleffect {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@keyframes scrolleffect {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}

@keyframes jump {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0px;
  }
}
